# BASE FRAMEWORK
Django==1.11.3
django-debug-toolbar==1.8
Pillow
psycopg2==2.7.3

# TESTING
pytest==3.2.1
pytest-django==3.1.2
pytest-flake8==0.8.1
pytest-cov==2.5.1

# PYTHON ENHANCEMENT
enum34                                          # Add enum support with python2


# PROJECT DEPENDENCIES
git+https://git.weboob.org/weboob/stable.git

# STATIC FILES
whitenoise==4.0b3


# PLATFORM DEPENDENCIES
raven                                           # Sentry integration
uwsgi==2.0.15
