# BASE FRAMEWORK
Django==1.11.3
django-debug-toolbar==1.8
Pillow
psycopg2==2.7.3
pytest==3.2.1
pytest-flakes==2.0.0

# PYTHON ENHANCEMENT
enum34                                          # Add enum support with python2


# PROJECT DEPENDENCIES
git+https://git.weboob.org/weboob/stable.git


# PLATFORM DEPENDENCIES
raven                                           # Sentry integration
uwsgi==2.0.15
