Django==1.11.3
djangorestframework==3.6.3
django-debug-toolbar==1.8


enum34                          # Add enum support with python2


Pillow
git+https://git.weboob.org/weboob/stable.git

uwsgi==2.0.15
